doctype html
html
    head
        meta(charset="UTF-8")

        meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

        title Nco

        style
            :css
                html,body {
                    margin: 0;
                    padding: 0;
                    font-family: sans-serif;
                }
                h1 {
                    margin: 0;
                    padding: 16px 40px;
                    font-size: 24px;
                    font-weight: normal;
                    background-color: #0dccf2;
                    color: #fff;
                }
                p {
                    padding: 0 40px;
                }

        script
            :js
                setTimeout(function () { location.reload(); }, 3000)
    body
        h1 Nco
        p.
            更新中です、しばらくお待ち下さい…
        
