.input
    width 60%
    padding 8px 8px
    border 1px solid #ddd

    font-size $fsz_nm
    font-family 'mplus-2p'

    box-shadow none

    outline none
    transition box-shadow .3s ease

    &:focus
        box-shadow 0 0 10px $color_main

.btn
    padding 12px 16px
    border none

    font-size $fsz_sm
    font-family 'mplus-2p'
    line-height 1

    color white
    background-color $color_primary

    outline none

.flex
    display flex

    &.flex--horizontal
        flex-direction row
