@import "nib"

.NcoControl
    position relative

    user-select none

.NcoControl_mylist
.NcoControl_request
    position relative
    overflow visible

    .Modal_inner
        padding 0

.NcoControl_actions
    position relative
    width 100%
    height 44px
    padding 0 8px

    background-color $color_main

    user-select none

.NcoControl_actions_btn
    // width 60px
    height 44px
    padding 12px
    margin-right 8px

    vertical-align bottom

    background-color transparent
    color white
    border none
    outline none
    cursor pointer

    font-size 20px
    text-align center

    transition-property color, background-color
    transition .15s ease-out

    &.skip:hover
        background-color $cmd_skip

    &.good:active
    &.mylist:active
    &.request:active
    &.play:active
        background-color $cmd_default

    &.good.received::before
    &.mylist.received::before
        transition-property transform, text-shadow, color
        transition-duration .5s

        text-shadow 0 0 20px $color_warn
        transform scale(1.3)
        color $color_warn

    &.more
        position relative
        float right


.NcoControl_comment
    position relative
    width 100%
    height 40px
    padding 4px

    background-color $color_main

    &.focus
        .NcoControl_comment_input
            background-color white

        .NcoControl_comment_opt
            opacity 1
            pointer-events all


.NcoControl_comment_alert
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 100

    display none
    padding 12px 8px
    padding-left 16px
    color $color_danger

    background-color rgba($color_main, .9)

.NcoControl_comment_opt
    position absolute
    left 0
    right 0
    bottom 100%

    height 32px
    padding 8px 0
    overflow hidden

    font-size $fsz_sm

    background-color $color_main
    opacity 0
    transition-duration .2s
    transition-property opacity

    pointer-events none

.NcoControl_comment_opt_184
    line-height 1

.NcoControl_comment_input
    position relative

    display block
    width 100%
    padding 6px 4px

    border none
    border-radius 2px 4px 4px 2px
    background-color rgba(lighten($color_main, 20%), .8)

    transition-property background-color
    transition-duration .2s

    font-size $fsz_sm
    font-family "mplus-2p"

    resize none
    outline none

    &::-webkit-input-placeholder
        color rgba(85, 85, 85, .5)


.NcoControl_more-actions
    position fixed
    right 4px
    bottom 48px // actions-bar height

    display block
    width 30vw
    margin 0
    padding 0


    background-color #fff
    box-shadow 0 0 5px rgba($color_main, .2)
    border-radius 4px
    opacity 0
    transition opacity .3s

    pointer-events none

    &::after
        content ''

        position absolute
        bottom -20px
        right 28px - 4px

        border 10px solid transparent
        border-top-color white

    li
        list-style none

        & + li
            border-top 1px solid $color_border_on_white

    .NcoControl_actions_btn
        color $color_main

    &.NcoControl_more-actions--show
        opacity 1
        pointer-events all
